<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>663896034114-5hlecvfmk2096gn75rih6pl1erhi0tnc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD15FDuH-Ss5dNK7heRidUlt_VNq7i_Qb4</string>
	<key>GCM_SENDER_ID</key>
	<string>663896034114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nots.falecimento</string>
	<key>PROJECT_ID</key>
	<string>nota-de-falecimento</string>
	<key>STORAGE_BUCKET</key>
	<string>nota-de-falecimento.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663896034114:ios:8431ccc33a690fddf516db</string>
	<key>DATABASE_URL</key>
	<string>https://nota-de-falecimento-default-rtdb.firebaseio.com</string>
</dict>
</plist>